/* Untuk Tablet */
@media all and (max-width: 1000px) {
    body {
        width: 1000px;
    }

    .bodyContainer {
        width: 1000px;
    }

    .box1 {
        flex-wrap: wrap;
    }

    .box {
        width: 50%;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    body {
        width: 670px;
    }

    .box1 {
        flex-direction: column;
    }

    .box {
        margin: auto;
    }
}