* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

/* Start CSS for Header */
header{
  width: 1600px;
}
li {
  list-style: none;
}

.container {
  padding: 45px 191px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.header .flex-header-left{
  flex: 40%;
  text-align: left;
}

.flex-header-right {
  flex: 60%;
  text-align: right;
}

.header .flex-header-right .nav a {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #B8BECD;
  padding: 10px 20px;
}

.header .flex-header-right .nav a:hover {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #000000;
  padding: 10px 20px;
}

.header .flex-header-right .nav-h a {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #000000;
  padding: 10px 20px;
}

.header .flex-header-right .btn a {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  width: 20%;
  height: 30px;
  background: #1ABE84;
  border: 1px solid #1ABE84;
  box-sizing: border-box;
  padding: 10px 40px;
}

.header .flex-header-right .btn-white a {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #1ABE84;
  text-align: center;
  border-radius: 8px;
  width: 20%;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #1ABE84;
  box-sizing: border-box;
  padding: 10px 40px;
}

.header-body .flex-header-left{
  flex: 40%;
  text-align: left;
}

.header-body .flex-header-left h1 {
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  font-family: "Playfair Display", serif;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #000000;
  mix-blend-mode: normal;
  width: 380px;
}

.header-body .flex-header-left h5 {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  padding-top: 47px;
}

.header-body .flex-header-left select {
  flex: 50%;
  flex-direction: row;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: #4A4C53;
  border: 1px solid #AFB0B9;
  border-radius: 4px;
  width: 40%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 15px;
}

hr {
  width: 30px;
  border: 1px solid #000;
  float: left;
}

.header-body .flex-header-left .btn a {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #ffffff;
  border-radius: 8px;
  width: 30%;
  height: 30px;
  background: #1ABE84;
  border: 1px solid #1ABE84;
  box-sizing: border-box;
  padding: 10px 40px;
  margin-top: 20px;
}

.flex-header-right img{
  flex: 50%;
  text-align: right;
  height: 494px;
  width: 688px;
}

.header .flex-container .menu-icon {
  color: #1ABE84;
  font-size: 25px;
  padding: 10px 20px;
  display: none;
}

/* End CSS for Header */

/* Start CSS for Main */
.Main h2 {
    color:blue;
}
/* End CSS for Main */

/* Start CSS for Body */
.Body h3 {
    color:red;
}
/* End CSS for Body */

/* Start CSS for Footer */
.Footer h4 {
    color:rebeccapurple;
}
/* End CSS for Footer */