* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  width: 1600px;
  margin: auto;
}

a {
  text-decoration: none;
}

/* Start CSS for Header */
.Header h1 {
  color: burlywood;
}
/* End CSS for Header */

/* Start CSS for Main */
.Main {
  margin: auto;
}
.firstMain {
  padding-left: 10%;
  padding-right: 63px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.imageFirstMain img {
  padding-left: 100px;
  flex: auto;
  width: 659px;
  height: 455.23px;
}
.descFirstMain {
  flex: auto;
}
.descFirstMain h1 {
  font-size: 36px;
  font-weight: bold;
  width: 481px;
  line-height: 50px;
  margin-bottom: 20px;
}
.descFirstMain p {
  font-size: 17px;
  color: #7d7987;
  width: 300px;
  line-height: 30px;
  margin-bottom: 33px;
  text-align: justify;
}
.descFirstMain button {
  width: 164px;
  height: 48px;
  background-color: #1abe84;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border: none;
  box-shadow: 0 9px #7d7987;
}
.descFirstMain button:hover {
  background-color: #3e8e41;
}
.descFirstMain button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.titleSecondMain {
  display: flex;
}
.textTitleSecondMain {
  flex: auto;
  font-size: 36px;
  font-weight: bold;
  margin-left: 50px;
  padding-right: 60%;
}
.buttonTitleSecondMain {
  flex: auto;
  font-size: 17px;
  color: #1abe84;
  cursor: pointer;
}
.buttonTitleSecondMain img {
  width: 4px;
  height: 9px;
}
.contentSecondMain {
  display: flex;
  padding: 20px 0px;
}
.containerContent {
  margin: auto;
}
.contentDestinations {
  flex: auto;
  position: relative;
  width: 261px;
  height: 337px;
  border-radius: 8px;
}
.contentDestinations img {
  width: 261px;
  height: 337px;
  border-radius: 8px;
}
.textImage {
  height: 50px;
  padding: 3px;
  border-radius: 0px 6px 0px 0px;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  background-color: #ffffff;
}
.textImage h1 {
  font-size: 17px;
}
.textImage p {
  font-size: 15px;
  color: #7d7987;
}
/* End CSS for Main */

/* Start CSS for Footer */

/* Start CSS for Footer */
.Footer {
  padding-left: 5%;
  margin-right: 5%;
  /* height: 502px; */
  background-color: #F9F9FB;

}
.topFooter {
  height: 250px;
  display: flex;
  padding-top: 80px;
  margin-top: 180px;
  margin-bottom: 100px;
}
.Footer h4 {
  /* font-family: Mulish; */
  font-size: 18px;
  color: #d41e1e;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
}
.topFooter {
  display: flex; 
  flex-wrap: wrap;
} 

ul {
  list-style: none;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  flex: auto;
  position: relative;

}
.footer-col p {
  font-size: 16px;
  color: #302b2b;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #d6d5d5;
  text-decoration: none;
  font-weight: 300;
  color: #302b2b;
  display: block;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.footer-col ul li a:hover {
  color: #585858;
  padding-left: 8px;
}
.tentang {
  padding-right: 10px;
  font-size: 16px;
  color: #302b2b;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
}
.tujuan {
  font-size: 16px;
  text-transform: capitalize;
  flex: auto;
}
.fitur {
  flex: auto;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.jperjalanan {
  font-size: 16px;
  font-weight: 500;
  flex: auto;
}
.sosmed {
  padding: 40px 0;
  width: 248.01px;
  justify-content: center;
  margin: auto;
  flex: auto;
}
.sosmed a {
  padding-right: 22px;
  flex: auto;
}
.garis {
  margin: auto;
  width: 1300px;
  height: 0.6px;
  background: #c4c4c4;
}
