* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  width: 1600px;
  margin: auto;
}

a {
  text-decoration: none;
}

/* Start CSS for Header */
.Header h1 {
    color:burlywood;
}
/* End CSS for Header */

/* Start CSS for Main */
.Main {
  margin: auto;
}
.firstMain {
  padding-left: 10%;
  padding-right: 63px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.imageFirstMain img {
  padding-left: 100px;
  flex: auto;
  width: 659px;
  height: 455.23px;
}
.descFirstMain {
  flex: auto;
}
.descFirstMain h1 {
  font-size: 36px;
  font-weight: bold;
  width: 481px;
  line-height: 50px;
  margin-bottom: 20px;
}
.descFirstMain p {
  font-size: 17px;
  color: #7D7987;
  width: 300px;
  line-height: 30px;
  margin-bottom: 33px;
  text-align: justify;
}
.descFirstMain button {
  width: 164px;
  height: 48px;
  background-color: #1ABE84;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  border: none;
  box-shadow: 0 9px #7D7987;
}
.descFirstMain button:hover {
  background-color: #3e8e41
}
.descFirstMain button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.titleSecondMain {
  display: flex;
}
.textTitleSecondMain {
  flex: auto;
  font-size: 36px;
  font-weight: bold;
  margin-left: 50px;
  padding-right: 60%;
}
.buttonTitleSecondMain {
  flex: auto;
  font-size: 17px;
  color: #1ABE84;
  cursor: pointer;
}
.buttonTitleSecondMain img {
  width: 4px;
  height: 9px;
}
.contentSecondMain {
  display: flex;
  padding: 20px 0px;
}
.containerContent {
  margin: auto;
}
.contentDestinations {
  flex: auto;
  position: relative;
  width: 261px;
  height: 337px;
  border-radius: 8px;
}
.contentDestinations img {
  width: 261px;
  height: 337px;
  border-radius: 8px;
}
.textImage {
  height: 50px;
  padding: 3px;
  border-radius: 0px 6px 0px 0px;
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  background-color:#FFFFFF;
}
.textImage h1 {
  font-size: 17px;;
}
.textImage p {
  font-size: 15px;
  color: #7D7987;
}
/* End CSS for Main */


  /* End CSS for Body */
  
  /* Start CSS for Footer */
  .Footer h4 {
	  font-family: Mulish;
    font-size: 18px;
	  color: #d41e1e;
	  text-transform: capitalize;
	  margin-bottom: 35px;
	  font-weight: 500;
	  position: relative;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .Footer{
    background-color: aqua;
      padding: 40px 0;
  }
  ul{
    list-style: none;
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
 }
 .footer-col p{
	font-size: 16px;
	color: #302b2b;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
  .kotak{
    background-color: red;
    padding: 40px 0;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #d6d5d5;
    text-decoration: none;
    font-weight: 300;
    color: #302b2b;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 15px;
  }
  .footer-col ul li a:hover{
    color: #585858;
    padding-left: 8px;
  }
  .container{
	max-width: 1170px;
	margin:auto;
  background-color: aqua;
	border-radius: 0px;
  }
  .tentang{
    position: absolute;
    width: 391px;
    height: 237px;
    left: 190px;
    top: 5185px;
    font-size: 16px;
	  color: #302b2b;
	  text-transform: capitalize;
	  margin-bottom: 35px;
	  font-weight: 500;
  }
  .tujuan{
    position: absolute;
    width: 391px;
    height: 249px;
    left: 689px;
    top: 5177px;
    font-size: 16px;
	  text-transform: capitalize;
	 
  }
  .fitur{
    position: absolute;
    width: 391px;
    height: 287px;
    left: 962px;
    top: 5177px;
    font-size: 16px;
	  text-transform: capitalize;
	  font-weight: 500;
  }
  .jperjalanan{
    position: absolute;
    width: 391px;
    height: 249px;
    left: 1249px;
    top: 5177px;
    font-size: 16px;
    font-weight: 500;
  }
  .sosmed{
    position: absolute;
    width: 248.01px;
    height: 23px;
    left: 644px;
    top: 5534px;
    justify-content: center;
  }
  .sosmed a{
    padding-right: 22px;
  }
  .garis{
    position: absolute;
  width: 1219px;
  height: 0.6px;
  left: 191px;
  top: 5503px;
  background: #C4C4C4;
  }
